{
	admin off
}

(reverie_app) {
	encode zstd gzip
	reverse_proxy web:3000
	log {
		output stdout
		format json
	}
}

reverieapp.ru {
	import reverie_app
}

http://89.124.115.57 {
	redir https://reverieapp.ru{uri} permanent
}
